parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
